
.titre {
    -fx-text-fill: #CCC9E7;
    -fx-max-width: 1000;
    -fx-font-size: 20;
}

.hboxTitre {
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-background-color: #403D39;

}



.text {
    -fx-text-fill: #CCC9E7;
}

.textPage1 {
    -fx-text-fill: #CCC9E7;
    -fx-font-size: 14;
    -fx-padding: 10;

}



.hbox {
    -fx-padding: 10;
    -fx-spacing: 10;
}

.gridPane {
    /*-fx-background-color: #393E41;*/
    -fx-padding: 10;
}




.button {
    -fx-padding: 8;
    -fx-spacing: 10;
    -fx-background-color: #FFFCF2;
    -fx-text-fill: #252422;
}

.slider {
    -fx-show-tick-marks: false;
    -fx-show-tick-labels: true;
    -fx-major-tick-unit: 2;
    -fx-snap-to-ticks: true;
    -fx-block-increment: 2;
    -fx-tick-label-fill: #CCC9E7;
}




