
.titre {
    -fx-text-fill: #FF8811;
    -fx-background-color: #4A313E;
    -fx-max-width: 950;
    -fx-font-size: 20;
}


.menu1Button {
    -fx-background-color: #ABD2FA;
}

.menu2Button {
    -fx-background-color: #89AAE6;
}

.menu3Button {
    -fx-background-color: #F4D06F;
}